{% block stylesheets %}
    <link href="{{asset('bundles/ninfac/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" >
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/ninfac/js/jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/ninfac/js/bootstrap.min.js') }}" ></script>
    <script>
        $(document).ready(function(){
            var variable = $('#hola');
            variable.val('bienvenidos');
            
        });
    </script>
{% endblock %}

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Menu principal
    <span class="caret"></span>
  </button>
  {{ knp_menu_render('ninfacBundle:Builder:mainMenu') }}
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Menu dos
    <span class="caret"></span>
  </button>
  {{ knp_menu_render('ninfacBundle:Builder:menuDos') }}
  
</div>

<h1>Bienvenido</h1>

<p>
    Hola <span class="label label-primary">{{ app.session.get('nombre') }}</span>
    <input name="hola" value="" id="hola">
</p>
<p><a href="{{ path('ninfac_logout') }}">Salir</a>
    
